<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# Aggregation using window functions

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

- Understand the concept of window functions in SQL.
- Learn how to use window functions for data aggregation.
- Understand how to use window functions to partition data.
- Practise using window functions to solve complex problems.

## Overview

In this notebook, we will explore how to use window functions in SQL to solve complex problems. Window functions are a type of function in SQL that performs a calculation across a set of table rows that are related to the current row.

We will use the `united_nations.Access_to_Basic_Services` table, which contains information about different countries, their GDP, and access to basic services.

Let's begin by calculating each country's land cover as a percentage per subregion for the year 2020.

### Connecting to our MySQL database

Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name.

%sql mysql+pymysql://root:Mysql.003@localhost:3306/united_nations

## Exercise

### Task 1: Select the data required for the analysis

The columns you select should include:
- `Sub_region`
- `Country_name`
- `Land_area`

Filter out the results using the following criteria:
- For the `Time_period` of `2020`.
- For `Land_area` values that are not missing.

In [3]:
%%sql 
SELECT * FROM united_nations.Access_to_Basic_Services LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, 94.67, Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, 94.67, Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, 95.0, Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, 95.0, Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, 95.0, Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]

In [4]:
%%sql
-- Add your code here

SELECT
    Sub_region,
    Country_name,
    Land_area
FROM
    united_nations.Access_to_Basic_Services
LIMIT
    25;

 * mysql+pymysql://root:***@localhost:3306/united_nations
25 rows affected.

[('Central Asia', 'Kazakhstan', Decimal('2699700.00')),
 ('Central Asia', 'Kazakhstan', Decimal('2699700.00')),
 ('Central Asia', 'Kazakhstan', Decimal('2699700.00')),
 ('Central Asia', 'Kazakhstan', Decimal('2699700.00')),
 ('Central Asia', 'Kazakhstan', Decimal('2699700.00')),
 ('Central Asia', 'Kazakhstan', Decimal('2699700.00')),
 ('Central Asia', 'Kyrgyzstan', None),
 ('Central Asia', 'Kyrgyzstan', None),
 ('Central Asia', 'Kyrgyzstan', None),
 ('Central Asia', 'Kyrgyzstan', None),
 ('Central Asia', 'Kyrgyzstan', None),
 ('Central Asia', 'Kyrgyzstan', None),
 ('Central Asia', 'Tajikistan', Decimal('138790.00')),
 ('Central Asia', 'Tajikistan', Decimal('138790.00')),
 ('Central Asia', 'Tajikistan', Decimal('138790.00')),
 ('Central Asia', 'Tajikistan', Decimal('138790.00')),
 ('Central Asia', 'Tajikistan', Decimal('138790.00')),
 ('Central Asia', 'Tajikistan', Decimal('138790.00')),
 ('Central Asia', 'Turkmenistan', Decimal('469930.00')),
 ('Central Asia', 'Turkmenistan', Decimal('469930.00')),
 ('Central Asia', 'Turkmenistan', Decimal('469930.00')),
 ('Central Asia', 'Turkmenistan', Decimal('469930.00')),
 ('Central Asia', 'Turkmenistan', Decimal('469930.00')),
 ('Central Asia', 'Turkmenistan', Decimal('469930.00')),
 ('Central Asia', 'Uzbekistan', Decimal('440600.00'))]

### Task 2: Calculate the land area covered as a percentage of the country's subregion


Calculate each land area as a percentage within its sub_region:
- Divide the `Land_area` by the `SUM()` `BY` the areas `OVER` each `Sub_region`'s `PARTITION`. Name this column `pct_sub_region_land_area`.
- `Round` the calculation off to `4` decimal places.

Add this line to the query from the first task.

In [5]:
%%sql
-- Add your code here

SELECT
    Sub_region,
    Country_name,
    Land_area,
    ROUND(SUM(Land_area) OVER (
        PARTITION BY Sub_region), 4) AS pct_sub_region_land_area
FROM
    united_nations.Access_to_Basic_Services
LIMIT 25;

 * mysql+pymysql://root:***@localhost:3306/united_nations
25 rows affected.

[('Australia and New Zealand', 'New Zealand', Decimal('263310.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'Australia', Decimal('7692020.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'New Zealand', Decimal('263310.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'Australia', Decimal('7682300.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'New Zealand', Decimal('263310.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'Australia', Decimal('7692020.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'New Zealand', Decimal('263310.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'Australia', Decimal('7692020.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'New Zealand', Decimal('263310.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'Australia', Decimal('7692020.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'New Zealand', Decimal('263310.00'), Decimal('47722260.0000')),
 ('Australia and New Zealand', 'Australia', Decimal('7692020.00'), Decimal('47722260.0000')),
 ('Caribbean', 'Antigua and Barbuda', Decimal('440.00'), Decimal('1240352.0000')),
 ('Caribbean', 'Dominica', Decimal('750.00'), Decimal('1240352.0000')),
 ('Caribbean', 'Martinique', None, Decimal('1240352.0000')),
 ('Caribbean', 'Saint Martin (French Part)', None, Decimal('1240352.0000')),
 ('Caribbean', 'Barbados', Decimal('430.00'), Decimal('1240352.0000')),
 ('Caribbean', 'Guadeloupe', None, Decimal('1240352.0000')),
 ('Caribbean', 'Puerto Rico', Decimal('8870.00'), Decimal('1240352.0000')),
 ('Caribbean', 'Trinidad and Tobago', Decimal('5130.00'), Decimal('1240352.0000')),
 ('Caribbean', 'Cuba', Decimal('103800.00'), Decimal('1240352.0000')),
 ('Caribbean', 'Jamaica', Decimal('10830.00'), Decimal('1240352.0000')),
 ('Caribbean', 'Saint Lucia', None, Decimal('1240352.0000')),
 ('Caribbean', 'United States Virgin Islands', None, Decimal('1240352.0000')),
 ('Caribbean', 'Bahamas', None, Decimal('1240352.0000'))]

### Task 3: Calculate The running population average for each country's subregion

Start by selecting the columns needed for this analysis:
- `Sub_region`
- `Country_name`
- `Time_period`
- `Pct_managed_drinking_water_services`
- `Pct_managed_sanitation_services`
- `Est_gdp_in_billions`
- `Est_population_in_millions`

Calculate the running average:
- Calculate the `AVG()` of the `Est_population_in_millions`.
- `PARTITION` the calculation `OVER` each country's `Sub_region`, and name this column `Running_average_population`.
- `ROUND` the calculation off to `4` decimal places.
- Filter the results `WHERE` there are values of `Est_gdp_in_billions` that are `NOT NULL`.

In [6]:
%%sql
-- Add your code here

SELECT 
    Sub_region,
    Country_name,
    Time_period,
    Pct_access_to_water,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    Est_population_in_millions,
    ROUND(AVG(Est_population_in_millions) OVER (
        PARTITION BY Sub_region), 4) AS Running_average_population
FROM 
    united_nations.Access_to_Basic_Services
WHERE
    Est_gdp_in_billions IS NOT NULL
LIMIT 25;

 * mysql+pymysql://root:***@localhost:3306/united_nations
25 rows affected.

[('Australia and New Zealand', 'New Zealand', 2017, 100.0, Decimal('100.00'), Decimal('206.62'), Decimal('4.813600'), Decimal('14.8059')),
 ('Australia and New Zealand', 'Australia', 2017, 100.0, Decimal('100.00'), Decimal('1326.52'), Decimal('24.594202'), Decimal('14.8059')),
 ('Australia and New Zealand', 'New Zealand', 2018, 100.0, Decimal('100.00'), Decimal('211.95'), Decimal('4.900600'), Decimal('14.8059')),
 ('Australia and New Zealand', 'Australia', 2018, 100.0, Decimal('100.00'), Decimal('1428.29'), Decimal('24.966643'), Decimal('14.8059')),
 ('Australia and New Zealand', 'New Zealand', 2019, 100.0, Decimal('100.00'), Decimal('213.43'), Decimal('4.979200'), Decimal('14.8059')),
 ('Australia and New Zealand', 'Australia', 2019, 100.0, Decimal('100.00'), Decimal('1392.23'), Decimal('25.340217'), Decimal('14.8059')),
 ('Australia and New Zealand', 'New Zealand', 2020, 100.0, Decimal('100.00'), Decimal('211.73'), Decimal('5.090200'), Decimal('14.8059')),
 ('Australia and New Zealand', 'Australia', 2020, 100.0, Decimal('100.00'), Decimal('1326.90'), Decimal('25.655289'), Decimal('14.8059')),
 ('Australia and New Zealand', 'New Zealand', 2015, 100.0, Decimal('100.00'), Decimal('178.06'), Decimal('4.609400'), Decimal('14.8059')),
 ('Australia and New Zealand', 'Australia', 2015, 100.0, Decimal('100.00'), Decimal('1350.62'), Decimal('23.815995'), Decimal('14.8059')),
 ('Australia and New Zealand', 'New Zealand', 2016, 100.0, Decimal('100.00'), Decimal('188.84'), Decimal('4.714100'), Decimal('14.8059')),
 ('Australia and New Zealand', 'Australia', 2016, 100.0, Decimal('100.00'), Decimal('1206.54'), Decimal('24.190907'), Decimal('14.8059')),
 ('Caribbean', 'Cuba', 2018, 96.0, Decimal('89.67'), Decimal('100.05'), Decimal('11.328244'), Decimal('3.9777')),
 ('Caribbean', 'Puerto Rico', 2020, 100.0, Decimal('100.00'), Decimal('103.02'), Decimal('3.281538'), Decimal('3.9777')),
 ('Caribbean', 'Grenada', 2016, 96.0, Decimal('91.00'), Decimal('1.06'), Decimal('0.119966'), Decimal('3.9777')),
 ('Caribbean', 'Turks and Caicos Islands', 2018, 94.0, Decimal('88.00'), Decimal('1.11'), Decimal('0.041487'), Decimal('3.9777')),
 ('Caribbean', 'Barbados', 2020, 99.0, Decimal('98.00'), Decimal('4.67'), Decimal('0.280693'), Decimal('3.9777')),
 ('Caribbean', 'Jamaica', 2020, 90.33, Decimal('87.00'), Decimal('13.81'), Decimal('2.820436'), Decimal('3.9777')),
 ('Caribbean', 'Dominican Republic', 2016, 94.67, Decimal('83.00'), Decimal('75.70'), Decimal('10.527592'), Decimal('3.9777')),
 ('Caribbean', 'Trinidad and Tobago', 2018, 99.0, Decimal('94.00'), Decimal('24.32'), Decimal('1.504709'), Decimal('3.9777')),
 ('Caribbean', 'Aruba', 2016, 98.0, Decimal('98.00'), Decimal('2.98'), Decimal('0.104874'), Decimal('3.9777')),
 ('Caribbean', 'Haiti', 2020, 65.0, Decimal('36.00'), Decimal('14.51'), Decimal('11.306801'), Decimal('3.9777')),
 ('Caribbean', 'Cuba', 2019, 96.33, Decimal('90.00'), Decimal('103.43'), Decimal('11.316697'), Decimal('3.9777')),
 ('Caribbean', 'Sint Maarten (Dutch part)', 2015, 95.0, Decimal('99.00'), Decimal('1.25'), Decimal('0.038825'), Decimal('3.9777')),
 ('Caribbean', 'Grenada', 2017, 96.0, Decimal('91.00'), Decimal('1.13'), Decimal('0.120921'), Decimal('3.9777'))]

## Solutions

### Task 1: Select the data required for the analysis

In [7]:
%%sql
SELECT 
	Sub_region,
    Country_name,
    Land_area
FROM united_nations.Access_to_Basic_Services
WHERE 
    Time_period = 2020
    AND Land_area IS NOT NULL
LIMIT 25;

 * mysql+pymysql://root:***@localhost:3306/united_nations
25 rows affected.

[('Central Asia', 'Kazakhstan', Decimal('2699700.00')),
 ('Central Asia', 'Tajikistan', Decimal('138790.00')),
 ('Central Asia', 'Turkmenistan', Decimal('469930.00')),
 ('Central Asia', 'Uzbekistan', Decimal('440650.00')),
 ('Southern Asia', 'Afghanistan', Decimal('652230.00')),
 ('Southern Asia', 'Bangladesh', Decimal('130170.00')),
 ('Southern Asia', 'Bhutan', Decimal('38140.00')),
 ('Southern Asia', 'India', Decimal('2973190.00')),
 ('Southern Asia', 'Maldives', Decimal('300.00')),
 ('Southern Asia', 'Nepal', Decimal('143350.00')),
 ('Southern Asia', 'Pakistan', Decimal('770880.00')),
 ('Southern Asia', 'Sri Lanka', Decimal('61860.00')),
 ('Eastern Asia', 'China', Decimal('9424702.90')),
 ('Eastern Asia', 'Japan', Decimal('364500.00')),
 ('Eastern Asia', 'Mongolia', Decimal('1557506.80')),
 ('South-Eastern Asia', 'Brunei Darussalam', Decimal('5270.00')),
 ('South-Eastern Asia', 'Cambodia', Decimal('176520.00')),
 ('South-Eastern Asia', 'Indonesia', Decimal('1877519.00')),
 ('South-Eastern Asia', 'Malaysia', Decimal('328550.00')),
 ('South-Eastern Asia', 'Myanmar', Decimal('652670.00')),
 ('South-Eastern Asia', 'Philippines', Decimal('298170.00')),
 ('South-Eastern Asia', 'Singapore', Decimal('718.00')),
 ('South-Eastern Asia', 'Thailand', Decimal('510890.00')),
 ('South-Eastern Asia', 'Timor-Leste', Decimal('14870.00')),
 ('Northern America', 'Bermuda', Decimal('54.00'))]

### Task 2: Calculate the land area covered as a percentage of the country's subregion

In [8]:
%%sql
SELECT
    Sub_region,
    Country_name,
    Land_area,
    ROUND(Land_area/SUM(Land_area) OVER (PARTITION BY sub_region)*100,4) AS pct_sub_region_land_area
FROM united_nations.Access_to_Basic_Services
    WHERE time_period = 2020
    AND Land_area IS NOT NULL
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/united_nations
20 rows affected.

[('Australia and New Zealand', 'Australia', Decimal('7692020.00'), Decimal('96.6901')),
 ('Australia and New Zealand', 'New Zealand', Decimal('263310.00'), Decimal('3.3099')),
 ('Caribbean', 'Cuba', Decimal('103800.00'), Decimal('50.6144')),
 ('Caribbean', 'Dominican Republic', Decimal('48310.00'), Decimal('23.5567')),
 ('Caribbean', 'Haiti', Decimal('27560.00'), Decimal('13.4387')),
 ('Caribbean', 'Jamaica', Decimal('10830.00'), Decimal('5.2809')),
 ('Caribbean', 'Puerto Rico', Decimal('8870.00'), Decimal('4.3251')),
 ('Caribbean', 'Barbados', Decimal('430.00'), Decimal('0.2097')),
 ('Caribbean', 'Trinidad and Tobago', Decimal('5130.00'), Decimal('2.5015')),
 ('Caribbean', 'British Virgin Islands', Decimal('150.00'), Decimal('0.0731')),
 ('Central America', 'Nicaragua', Decimal('120340.00'), Decimal('4.9076')),
 ('Central America', 'Belize', Decimal('22810.00'), Decimal('0.9302')),
 ('Central America', 'Panama', Decimal('74180.00'), Decimal('3.0251')),
 ('Central America', 'Costa Rica', Decimal('51060.00'), Decimal('2.0823')),
 ('Central America', 'El Salvador', Decimal('20720.00'), Decimal('0.8450')),
 ('Central America', 'Guatemala', Decimal('107160.00'), Decimal('4.3701')),
 ('Central America', 'Honduras', Decimal('111890.00'), Decimal('4.5630')),
 ('Central America', 'Mexico', Decimal('1943950.00'), Decimal('79.2766')),
 ('Central Asia', 'Uzbekistan', Decimal('440650.00'), Decimal('11.7536')),
 ('Central Asia', 'Kazakhstan', Decimal('2699700.00'), Decimal('72.0099'))]

### Task 3: Calculate The running population average for each country's subregion

In [9]:
%%sql
SELECT 
    Sub_region,
    Country_name,
    Time_period,
    Pct_access_to_water,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    Est_population_in_millions,
    ROUND(AVG(Est_population_in_millions) OVER (PARTITION BY Sub_region ORDER BY Time_period),4) AS Running_average_population
FROM 
    united_nations.Access_to_Basic_Services
WHERE 
    Est_gdp_in_billions IS NOT NULL
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/united_nations
20 rows affected.

[('Australia and New Zealand', 'New Zealand', 2015, 100.0, Decimal('100.00'), Decimal('178.06'), Decimal('4.609400'), Decimal('14.2127')),
 ('Australia and New Zealand', 'Australia', 2015, 100.0, Decimal('100.00'), Decimal('1350.62'), Decimal('23.815995'), Decimal('14.2127')),
 ('Australia and New Zealand', 'New Zealand', 2016, 100.0, Decimal('100.00'), Decimal('188.84'), Decimal('4.714100'), Decimal('14.3326')),
 ('Australia and New Zealand', 'Australia', 2016, 100.0, Decimal('100.00'), Decimal('1206.54'), Decimal('24.190907'), Decimal('14.3326')),
 ('Australia and New Zealand', 'New Zealand', 2017, 100.0, Decimal('100.00'), Decimal('206.62'), Decimal('4.813600'), Decimal('14.4564')),
 ('Australia and New Zealand', 'Australia', 2017, 100.0, Decimal('100.00'), Decimal('1326.52'), Decimal('24.594202'), Decimal('14.4564')),
 ('Australia and New Zealand', 'Australia', 2018, 100.0, Decimal('100.00'), Decimal('1428.29'), Decimal('24.966643'), Decimal('14.5757')),
 ('Australia and New Zealand', 'New Zealand', 2018, 100.0, Decimal('100.00'), Decimal('211.95'), Decimal('4.900600'), Decimal('14.5757')),
 ('Australia and New Zealand', 'New Zealand', 2019, 100.0, Decimal('100.00'), Decimal('213.43'), Decimal('4.979200'), Decimal('14.6925')),
 ('Australia and New Zealand', 'Australia', 2019, 100.0, Decimal('100.00'), Decimal('1392.23'), Decimal('25.340217'), Decimal('14.6925')),
 ('Australia and New Zealand', 'New Zealand', 2020, 100.0, Decimal('100.00'), Decimal('211.73'), Decimal('5.090200'), Decimal('14.8059')),
 ('Australia and New Zealand', 'Australia', 2020, 100.0, Decimal('100.00'), Decimal('1326.90'), Decimal('25.655289'), Decimal('14.8059')),
 ('Caribbean', 'Barbados', 2015, 98.0, Decimal('96.00'), Decimal('4.72'), Decimal('0.278083'), Decimal('2.9168')),
 ('Caribbean', 'Jamaica', 2015, 90.0, Decimal('86.00'), Decimal('14.19'), Decimal('2.794445'), Decimal('2.9168')),
 ('Caribbean', 'Haiti', 2015, 64.0, Decimal('32.33'), Decimal('14.83'), Decimal('10.563757'), Decimal('2.9168')),
 ('Caribbean', 'Dominica', 2015, 95.0, Decimal('80.00'), Decimal('0.54'), Decimal('0.070007'), Decimal('2.9168')),
 ('Caribbean', 'Antigua and Barbuda', 2015, 97.0, Decimal('88.00'), Decimal('1.34'), Decimal('0.089941'), Decimal('2.9168')),
 ('Caribbean', 'Cuba', 2015, 94.67, Decimal('88.67'), Decimal('87.13'), Decimal('11.339894'), Decimal('2.9168')),
 ('Caribbean', 'Turks and Caicos Islands', 2015, 94.0, Decimal('88.00'), Decimal('0.94'), Decimal('0.036538'), Decimal('2.9168')),
 ('Caribbean', 'Trinidad and Tobago', 2015, 98.0, Decimal('94.00'), Decimal('26.85'), Decimal('1.460177'), Decimal('2.9168'))]

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:100px"  ;/>
</div>